* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  scrollbar-width: none;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
}

.image {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.dashboard {
     height: 15%;
    width: 37%;
    position: absolute;
    top: 2%;
    left: 3%;
    font-size: 23px;
    color: #007757d1;
}

.profile-pic {
     height: 35%;
    width: 37%;
    position: absolute;
    top: 18%;
    left: 3%;
    font-size: 23px;
    background-color: #0077575d;
    position: relative;
    border-radius: 10px;
    color: rgb(56, 56, 56);
}

.pic{
    height: 160px;
    width: 160px;
    /* background-color: beige; */
    border-radius: 50%;
    position: absolute;
    top: 9%;
    left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid white 2px;
}
.pic-in {
     height: 145px;
    width: 145px;
    background-color: rgb(67, 138, 125);
    border-radius: 50%;
}
.pic-in img {
    height: 100%;
    width: 100%;
    object-fit: cover;
     border-radius: 50%;
  transform: scaleX(-1);
}
.message {
     height: 180px;
    width: 280px;
     position: absolute;
    top: 9%;
    left: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message p {
    font-size: 17px;
}
.bank {
    height: 35%;
    width: 37%;
    position: absolute;
    top: 60%;
    left: 3%;
    display: flex;
    border-radius: 10px;
    background-color: #F5F5F7;
}
.bal {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.full {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
}
.money {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
     padding-left: 15px;
}

.transfer {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
     padding-left: 5px;
}

.transfer button {
    height: 50%;
    width: 48%;
    border-radius: 7px;
    color:#007757;
}
.transfer button:first-child {
    background-color:#007757;
    color: rgb(255, 255, 255);
}
.credit {
    height: 100%;
    width: 55%;
}
.credit img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0px, 10px 10px 0px;
}
.expense {
    height: 70%;
    width: 55%;
    border-radius: 10px;
    display: flex;
    top: 28%;
    left: 44%;
   align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
      background-color: #CEDEDE;
}

.input {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.input input {
    height: 35px;
    width: 140px;
    text-align: center;
     border-radius: 7px;
      border: solid 1px rgb(116, 115, 115);
}

.list {
    height: 35px;
    width: 90px;
     border-radius: 7px;
}

.input button {
    height: 35px;
    width: 100px;
    background-color:#007757;
    border-radius: 7px;
    border: solid 1px rgb(23, 45, 23);
    cursor: pointer;
    color: white;
}

.data {
    height: 60%;
    width: 80%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.data table  {
    width: 100%;
    border: 2px solid black;   
}
.data tr {
    height: 10%;
    width: 100%;
}
.data th {
    border: solid 2px black;
    color: #007757;
}

.data td{
text-align: start;
 border: solid 2px black;
}

.total {
    height: 15%;
    width: 80%;
}

.cal {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding-right: 20px;
}
.filter {
    height: 50%;
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding-right: 20px;
}
.select {
     height: 25px;
    width: 90px;
     border-radius: 7px;
}
.income {
       height: 25%;
    width: 17%;
    position: absolute;
    top: 2%;
    left: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #F5F5F7;
}
.income input {
    height: 35px;
    width: 150px;
    color: #007757;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
}
.used{
     height: 25%;
    width: 17%;
    position: absolute;
    top: 2%;
    left: 63%;
    display: flex;
     flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #F5F5F7;
}
.used h1 {
    color: red;
}
.saving{
      height: 25%;
    width: 17%;
    position: absolute;
    top: 2%;
    left: 81%;
    display: flex;
     flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-left: 10px;
    border-radius: 10px;
    background-color:  #F5F5F7;
}
.saving h1 {
    color: rgb(26, 26, 189);
}
